<div
  *ngIf="grid"
  class="grid"
  [ngStyle]="{
    'grid-template-rows': 'repeat(' + grid.size + ', 1fr)',
    'grid-template-columns': 'repeat(' + grid.size + ', 1fr)'
  }"
>
  <div
    appGridCell
    *ngFor="let cell of grid.cells; let index = index"
    [attr.tabindex]="cell.readonly ? null : index"
    [min]="1"
    [max]="grid.fullSize"
    [readonly]="cell.original"
    [class.readonly]="cell.original"
    [class.focused]="gridService.isCellPartOfAFocusedGroup(cell)"
    [class.focusedCell]="gridService.isFocusedCell(cell)"
    [class.valid]="gridService.isCellValid(cell)"
    [class.invalid]="gridService.isCellInvalid(cell)"
    [ngStyle]="{
      'grid-row': cell.row + ' / span 1',
      'grid-column': cell.column + ' / span 1'
    }"
    (focus)="onCellFocus(cell)"
    (blur)="onCellBlur()"
    (valueChange)="onCellValueChange($event)"
    (move)="onMove($event)"
    (erase)="onCellErase()"
  >
    {{ cell.value }}
  </div>
</div>
