@import "~@angular/material/theming";

$cell-size: 60px;

.grid {
  font-size: 24px;
  display: grid;
  @include mat-elevation(14);

  div {
    height: $cell-size;
    width: $cell-size;
    cursor: pointer;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;

    &.valid {
      color: green;
    }

    &.invalid {
      color: red;
    }

    &.focused {
      background-color: rgb(225, 247, 255);
    }

    &.focusedCell {
      border-color: grey;
    }

    &.readonly {
      color: grey;
      cursor: not-allowed;
    }
  }
}
